.profile__info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 16px;
  margin-left: 30px;
  max-width: 336px;

}
@media screen and (max-width: 767px) {
  .profile__info {
    max-width: none;
    margin-left: 0;
  }
}


