.profile__button-edit-avatar{
  position: absolute;
  background-color: black;
  background-image: url(../../../images/pencil_icon_white.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  width: 120px;
  height: 120px;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.profile__button-edit-avatar:hover {
  opacity: .8;
  cursor: pointer;
}
