.profile__button-edit-avatar{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  background-image: url(../../../images/pencil_icon_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  height: 120px;
  width: 120px;
  opacity: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.profile__button-edit-avatar:hover {
  opacity: 1;
}




