.popup__container {
  max-width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 37px;
}

@media screen and (max-width: 320px) {
  .popup__container {
  max-width: 282px;
  max-height: 322px;
  padding-bottom: 25px;
  }
}
