.popup__container {
  width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  /* padding: 34px 36px 37px; */
  padding-bottom: 37px;
  z-index: 2;
  position:  relative;

}

@media screen and (max-width: 375px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    padding-bottom: 25px;
  }
}
