.button_type_like {
  background: url(../../../icons/like_icon_white.svg);
  border: none;
  width: 22px;
  height: 19px;
  transition: opacity .2s;
}

.button_type_like:hover {
  opacity: .5;
}

.button_type_like:active {

}
