.button_type_add {
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  align-items: center;

}
@media screen and (max-width: 767px) {
  .button_type_add {
      margin-top: 36px;
      max-width: 250px;
  }
}


@media screen and (max-width: 320px) {
  .button_type_add {
      margin-top: 36px;
      max-width: none;
  }
}
