.button_type_like {
  background: url(../../../images/like_icon_white.svg);
  border: none;
  width: 22px;
  height: 19px;
  transition: opacity .2s;
}

.button_type_like:hover {
  opacity: .5;
  cursor: pointer;
}

.button_type_like:focus {
  outline: none;
}
