.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__avatar-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../../../images/pencil_icon_white.svg);
  background-color: rgba(0, 0, 0, .8);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  z-index: 1;
  opacity: 0;
  transition: opacity .2s ease-in;
}
.profile__avatar-container:hover::after {
  opacity: 1;
  cursor: pointer;
}
