.root {
  background-color: #000;
  color: #fff;
  max-width: 1280px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}
