.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
@media screen and (max-width: 320px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
