.profile__description {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .profile__description  {
    text-align: center;
  }
}


@media screen and (max-width: 320px) {
  .profile__description  {
    font-size: 14px;
    text-align: right;
  }
}
