.popup__close-button {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: -35px;
  right: -42px;

}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    top: -40px;
    right: 0;
  }
}
