.popup__close-button {
  background: url(../../../icons/close_icon_big.svg) no-repeat center;
  outline: none;
  border: none;
  position: absolute;
  top: -35px;
  right: -42px;
  width: 40px;
  height: 40px;

}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .popup__close-button {
    top: -40px;
    right: 0;
    height: 26px;
    width: 26px;
    background: url(../../../icons/close_Icon_small.svg) no-repeat center;
  }
}
