.popup__form-item {
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0 0 30px;
  border: none;
  position: relative;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}



.popup__form-item:focus {
  outline: none;
}
