.popup__form-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  padding: 0;

}
.popup__form-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .popup__form-button  {
    font-size: 14px;
  }
}

