.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

}

@media screen and (max-width: 1024px) {
  .footer  {
    margin-left:  19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0;
  }
}

