.place__caption {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto fit-content(22px); */
  align-items: center;
  margin: 25px 21px 31px 21px;

}
